
.quiz-form {

}

.quiz-question {

}

.quiz-question label {
    margin: var(--space-1);
    color: var(--color-text);
    font-size: var(--fs-lg);
}

.quiz-question .quiz-option {
    position: relative;
    left: 20px;
    display: block;
    margin-block: var(--space-2);
    line-height: normal;
    font-size: var(--fs-md);
    opacity: 0.9;
}

.evidence-quiz input[type="text"],
.evidence-quiz input[type="number"],
.evidence-quiz input[type="time"] {
    display: block;
    margin-top: var(--space-4);
    padding: var(--space-2) var(--space-4);
    border-radius: var(--radius-sm);
    background: linear-gradient(transparent 0, rgba(0, 0, 0, .06) 2px, transparent 2px) top left / 100% 28px no-repeat,
    color-mix(in oklab, var(--color-paper) 90%, #000 10%);
    box-shadow: 0 10px 30px rgba(0, 0, 0, .45), inset 0 0 0 1px rgba(0, 0, 0, .12), inset 0 0 40px rgba(0, 0, 0, .10);
    color: var(--color-ink);
}

.evidence-quiz input[type="text"]:focus,
.evidence-quiz input[type="number"]:focus,
.evidence-quiz input[type="time"]:focus {
    outline: var(--outline-focus);
    outline-offset: 2px;
    background: var(--color-text);
}

.evidence-quiz input[type="radio"] {
    appearance: none;
    position: relative;
    top: calc(var(--fs-md) / 4);
    border-radius: 50%;
    width: var(--fs-md);
    height: var(--fs-md);
    border: calc(var(--fs-md) * 0.1) solid var(--color-text-muted);
    transition: 0.2s all linear;
    margin-right: 5px;
}

.evidence-quiz input[type="radio"]:focus {
    outline: var(--outline-focus);
    outline-offset: 2px;
    background: var(--color-text);
}

.evidence-quiz input[type="radio"]::after {
    content: "";
    position: absolute;
    top: 0rem;
    left: 0rem;
    display: block;
    width: calc(var(--fs-md) * 0.8);
    height: calc(var(--fs-md) * 0.8);
    border-radius: 50%;
    background: var(--color-accent);
    box-shadow: 0 0.1em 0.1em 0 rgba(0,0,0,0.5), 0 0 0.1em 0.1em rgba(0,0,0,0.15) inset;
    transition: all .2s cubic-bezier(0.64, 0.57, 0.67, 1.53);
    opacity: 0;
}

.evidence-quiz input[type="radio"]:checked::after {
    opacity: 1;
}


input::placeholder {
    color: var(--color-panel);
    font-weight: 300;
    font-family: inherit;
}

.quiz-submit {
    padding: var(--space-2) var(--space-4);
    margin-block: 1rem;
    border-radius: var(--radius-sm);
    cursor: pointer;
    transition: all 0.4s ease-out;
}

.quiz-submit:hover {
    padding: var(--space-2) var(--space-4);
    margin-block: 1rem;
    border-radius: var(--radius-sm);
}