
.game-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 950px;
    margin: 0 auto;
    padding: 0.5rem 1rem;
}

progress {
  display: block; /* default: inline-block */
  width: 300px;
  margin: 2em auto;
  padding: 4px;
  border: 0 none;
  background: #444;
  border-radius: 14px;
  box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
}
progress::-moz-progress-bar {
  border-radius: 12px;
  background: #FFF;
  box-shadow: inset 0 -2px 4px rgba(0,0,0,0.4), 0 2px 5px 0px rgba(0,0,0,0.3);
  
}
/* webkit */
@media screen and (-webkit-min-device-pixel-ratio:0) {
  progress {
    height: 25px;
  }
}
progress::-webkit-progress-bar {
    background: transparent;
}  
progress::-webkit-progress-value {  
  border-radius: 12px;
  background: #FFF;
  box-shadow: inset 0 -2px 4px rgba(0,0,0,0.4), 0 2px 5px 0px rgba(0,0,0,0.3); 
} 

.game-main {
  max-width: 960px;
  margin: 0 auto;
}

.game-main h2 {
  margin: 0.5rem 0.5rem 1rem;
}

.board {
  display: grid;
  --row: clamp(18rem, 22vh, 20rem);
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(8, var(--row));
  gap: 1rem 0.5rem;
  align-items: start;
  justify-content: center;
}
