/* Základní grid kontejner */
.board {
    display: grid;
    --r1: 30rem; /* newspaper */
    --r2: 16rem; /* ticket */
    --r3: 42rem; /* footage/interrogations */
    --r4: 24rem; /* old-photo + start medical */
    --r5: 24rem; /* watch + cont medical */
    --r6: 34rem; /* notebook/incident */

    --gy: 1rem;                /* row-gap variable */
    row-gap: var(--gy);
    column-gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: var(--r1) var(--r2) var(--r3) var(--r4) var(--r5) var(--r6);

    max-width: 950px;
    margin: var(--space-8) auto var(--space-12);
}


.one-evidence { --img-max: 100%; }
.one-evidence img {
  max-height: var(--img-max); 
  height: auto;
  object-fit: contain;
}

.one-evidence {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;  
    border: 1px solid var(--color-gray-300);                   
    border-radius: var(--radius-lg);
    padding: 1rem;
    cursor: pointer;
    background-color: var(--color-gray-500);
    transition: all 0.6s ease-out;
    overflow: hidden;
    box-sizing: border-box;
}

.one-evidence img {
    filter: 
        drop-shadow(var(--drop-shadow-md))
        saturate(0.6);
    max-width: 100%;
    width: auto;
    display: block;
    transition: transform 0.6s ease-out,
        filter .6s ease-in-out;
}

.one-evidence:hover {
    transform: scale(1.02);
}

.one-evidence:hover img {
    transform: scale(1.02);
    filter: 
        drop-shadow(var(--drop-shadow-hard))
        saturate(1);
}

/* Grid pozice jednotlivých položek */
.newspaper { 
    grid-area: 1 / 1 / 2 / 2; 
    height: var(--r1);
} 

.ticket { 
    grid-area: 2 / 1 / 3 / 2; 
    height: var(--r2);
} 

.old-map { 
    grid-area: 1 / 2 / 3 / 3; 
    height: calc(var(--r1) + var(--r2) + var(--gy));
    --img-max: 70%;
} 

.security-footage { 
    grid-area: 3 / 1 / 4 / 2;
    height: var(--r3);
}

.interrogations { 
    grid-area: 3 / 2 / 4 / 3; 
    padding: 6rem 3rem;
    height: var(--r3);
}

.medical-notes { 
    grid-area: 4 / 1 / 6 / 2; 
    height: calc(var(--r4) + var(--r5) + var(--gy)); 
}   

.old-photo { 
    grid-area: 4 / 2 / 5 / 3; 
    height: var(--r4);
    --img-max: 70%;
}

.watch { 
    grid-area: 5 / 2 / 6 / 3;
    height: var(--r5);
    --img-max: 70%;
}

.notebook { 
    grid-area: 6 / 1 / 7 / 2;
    padding: 3rem 1rem; 
    height: var(--r6);
}

.incident-report { 
    grid-area: 6 / 2 / 7 / 3;
    height: var(--r6);
}

@media (max-width: 648px) {
    .board {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: center;
        margin: 1rem;
    }
    
    .board .one-evidence {
        width: 100%;
        height: auto;
    }
}

